In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
import pandas as pd

# Path to the file in Drive
file_path = '/content/drive/My Drive/capstone_project/data/raw/OnlineRetail.xlsx'

# Read it
df = pd.read_excel(file_path)
print(df.shape)
print(df.info())
df.describe()
# Preview
df.head()

(541909, 8)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  datetime64[ns]
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 33.1+ MB
None

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [5]:
df.isnull().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [6]:
#Drop missing Description rows:*italicised text*
df = df[~df['Description'].isnull()]

In [7]:
#Drop returns (optional, if focusing on net sales):
df = df[~df['InvoiceNo'].astype(str).str.startswith('C')]

In [8]:
#filter invalid qty/price
df = df[(df['Quantity'] > 0) & (df['UnitPrice'] > 0)]

In [9]:
#drop duplicates
df = df.drop_duplicates()

In [10]:
#clean product names
df['Description'] = df['Description'].str.strip().str.upper()

In [11]:
#add date related columns
df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'])  # in case it's not already

df['InvoiceYear'] = df['InvoiceDate'].dt.year
df['InvoiceMonth'] = df['InvoiceDate'].dt.month
df['InvoiceDay'] = df['InvoiceDate'].dt.day
df['Weekday'] = df['InvoiceDate'].dt.day_name()

In [13]:
df.to_csv('/content/drive/My Drive/capstone_project/data/cleaned/online_retail_cleaned.csv', index=False)